
  .customDate{
    padding-right: 30%;
  }
  .ngb-accordion::ng-deep.card::ng-deep {
    border-top: 1px solid #dee2e6 !important;
    box-shadow: none !important;
  }
.customColor{
  color: #080808;
}


