<div class="container pt-5 d-flex justify-content-center flex-column">
  <div class="pt-1 logo-wrapper d-flex justify-content-center">
    <img
      src="../../../../assets/img/logo_dark.png"
      alt="Plany"
      style="width: 230px"
    />
  </div>
  <div class="p-1 d-flex justify-content-center flex-column">
    <span class="p-2 d-flex justify-content-center"
      >Estamos trabalhando nessa funcionalidade😄</span
    >
    <div class="loading-dots d-flex justify-content-center">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
